export http_proxy=socks5://127.0.0.1:7890
export https_proxy=socks5://127.0.0.1:7890
# export GLFW_IM_MODULE=ibus # Fix kitty chinese input problem on linux
export skip_on_db_migrate=1 # 跳过annotate_models自动更新model文件
export BORG_PASSPHRASE=Andrew123
export DUPLICACY_NACHOSTORAGE_PASSWORD= Andrew123
